
.bloop/
.bsp/
.idea/
.metals/
.vscode/

target/
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt

harness-archive/res/js
harness-archive/api/src/main/resources/res/js
harness-web-app-template/res/js
harness-web-app-template/api/src/main/resources/res/js

harness-web-app-template/pvc

harness-web-app-template/api/src/main/resources/secrets.conf.json
harness-archive/api/src/main/resources/secrets.conf.json

harness-web-app-template/api/src/main/resources/ssl
