// --- Colors ---

$color-primary: #20A9FE;
$color-primary-accent: #1d8ace;
$color-primary-light: #85D0FE;
$color-primary-dark: #003F66;
$color-on-primary: #000000;

$color-secondary: #00B887;
$color-secondary-accent: #05926d;
$color-secondary-light: #35FD88;
$color-secondary-dark: #028D3C;
$color-on-secondary: #000000;

$color-background: #2E3738;
$color-on-background: #E8F7EE;

$color-surface: #1C2122;
$color-on-surface: #E8F7EE;

$color-error: #800E13;
$color-on-error: #000000;